#quizbook {
    
}
#quizbook ul {
    list-style: none;
}
#quizbook ul li {
    padding: 30px;
}

#quizbook ul li h2 {
    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 10px;
}
#quizbook ul li .respuesta {
    background-color: #f1f1f1;
    padding: 20px;
    border: 1px solid #e1e1e1;
    margin-bottom: 20px;
}
#quizbook ul li .respuesta:hover,
#quizbook ul li .respuesta.seleccionada {
    background-color: cornflowerblue;
    color:white;
    cursor: pointer;
}

#quizbook_resultado {
    padding: 20px;
    text-align: center;
    font-size:20px;
}

.aprobado {
    border: 2px solid #248c24;
}
.noaprobado {
    border: 2px solid #c20000;
}




